/*#givecolor:hover{
	-webkit-box-shadow: 11px 11px 175px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 11px 175px -3px rgba(0,0,0,0.75);
	box-shadow: 11px 11px 175px -3px rgba(0,0,0,0.75);
	Copy Text
}
#givecoloriki:hover{
	-webkit-box-shadow: 11px 11px 175px 22px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 11px 175px 22px rgba(0,0,0,0.75);
	box-shadow: 11px 11px 175px 22px rgba(0,0,0,0.75);
	Copy Text
}

 

 */

